.btn {
  background-color: rgb(255, 255, 255); /* Blue background */
  border: rgb(81, 69, 205); /* Remove borders */
  color: rgb(81, 69, 205); /* White text */
  padding: 16px 18px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: rgb(71, 115, 248);
}
#content {
    position: relative;
}
#content button {
    position: absolute;
    top: 0px;
    right: 0px;
}
#content1 {
    position: relative;
}
#content1 button {
    position: absolute;
    top: 0px;
    right: 60px;
}
#content2 {
    position: relative;
}
#content2 button {
    position: absolute;
    top: 0px;
    right: 120px;
}
.circle {
    width: 100px;
    height: 100px;
    border: 3px solid #66ff0d;
    border-radius: 50%;
    position: relative;
  }
  
  .pie {
    position: relative;
    width: 120px;
    height: 120px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  .pie svg circle {
    fill: transparent;
    stroke: #dc1313;
    stroke-width: 14;
    stroke-dasharray: 275;
    stroke-dashoffset: 235;
    -webkit-animation: pieChart 3.8s linear forwards;
            animation: pieChart 3.8s linear forwards;
  }
  
  @-webkit-keyframes pieChart {
    100% {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes pieChart {
    100% {
      stroke-dashoffset: 0;
    }
  }
  .counter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #eaebf1;
    font-weight: 500;
  }