{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript"></script>
	<script type="text/javascript">
	ElapsedTimeLogger = function(dateElementId, elapsedElementId, interval) {
		var container = $(elapsedElementId);
		var time = parseDate($(dateElementId).text());
		var interval = interval;
		var timer;
  
		function parseDate(dateString) {
			var date = new Date(dateString);
			return date.getTime();
		}
  
		function update() {
			var systemTime = new Date().getTime();
			elapsedTime = systemTime - time;
			container.html(prettyPrintTime(Math.floor(elapsedTime / 1000)));
		}
  
		function prettyPrintTime(numSeconds) {
			var hours = Math.floor(numSeconds / 3600);
			var minutes = Math.floor((numSeconds - (hours * 3600)) / 60);
			var seconds = numSeconds - (hours * 3600) - (minutes * 60);
  
			hours = "00" ;
			if (minutes < 10) minutes = "0" + minutes;
			if (seconds < 10) seconds = "0" + seconds;
			var time = hours + ":" + minutes + ":" + seconds;
  
			return time;
		}
  
		this.start = function() {
			timer = setInterval(function() {update()}, interval * 1000);
		}
  
		this.stop = function() {
			clearTimeout(timer);
		}
	}
	$(document).ready(function () {
		var timeLogger = new ElapsedTimeLogger("#date", "#elapsed", 1);
		timeLogger.start();
  
	
		timeLogger.start();
		});

	</script>
	<title>FEATURES</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'list2/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'list2/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'list2/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'list2/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'list2/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'list2/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'list2/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'list2/css/main.css' %}">
	<link rel='stylesheet' href='https://www.unpkg.com/tailwindcss@1.8.10/dist/tailwind-experimental.min.css'>
	<link rel="stylesheet" href="{% static 'list/style.css' %}">
	<link rel="stylesheet" href="{% static 'storykey/button_style3.css' %}">
	<link rel="stylesheet" href="{% static 'list2/header_style.css' %}">
	<link rel="stylesheet" href="{% static 'home_but/home.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--===============================================================================================-->
</head>
<body>
	
	<div id="content">
		<form method="post">
			{% csrf_token %}
		<button type="submit" name="close" value="close"  class="btn"><i class="fa fa-close"></i></button>
		</form>
		

		
	</div>
	<div id="content1">
		<form method="post">
			{% csrf_token %}
		
		<button type="submit" name="home" value="home"  class="btn"><i class="fa fa-home"></i></button>
	</form>

		
	</div>
	<div id="content2">
		<form method="post">
			{% csrf_token %}
		
		<button type="submit" name="menu" value="menu" class="btn"><i class="fa fa-bars"></i></button>
	</form>

		
	</div>
	
	

	<main class="flex flex-col space-y-10 px-6 py-5 max-w-6xl mx-auto">

		<section class="p-6 sm:p-8 flex items-center bg-indigo-700 shadow-md rounded-lg">
		  <div class="mr-6">
			<header class="text-xl text-indigo-50 mb-3">CASE NUMBER : {{request.session.casenum}}</header>
			<div class="sm:max-w-md text-indigo-300 leading-tight mb-5">
			  NAME : {{user_dict.name}}<br>
			  AGE : {{user_dict.age}}<br>
			  GENDER : {{user_dict.gender}}<br> 
			  ETHNICITY : {{user_dict.ethnicity}}<br>
			  MAIN ISSUES : {{user_dict.issues}}<br>
			  TIME ELAPSE :             <table align="right" border="1">
				<tr><th>Started at</th><th>Time Elapsed</th></tr>
				<tr><td id="date">{{ctime}}</td>&nbsp;&nbsp;<td id="elapsed"></td></tr>
			</table><br>
			</div>
	
		  </div>

		</main>

</div>
		</section>

		<div class="header">
			<span class="snake1"></span>
			<span class="snake2"></span>
			  
			<div class="inner_header">
			  <div class="logo_container">
				<h1>EXTRACTED <span>FEATURES</span></h1>
			  </div>
			  <ul class="navigation">
			   {% for cat in log_dict.keys %}
				<a><li> {{cat}} </li></a>
				{% endfor %}
	  
			  </ul>
			</div>
		  </div>
		

		
	<div class="limiter">

		{% for key,value in log_dict.items %}
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100 ver1 m-b-110">
					
					<table data-vertable="ver1">
						<thead>
							<tr class="row100 head">
							
								<th class="column100 column2" data-column="column1">Issue Category</th>
								<th class="column100 column3" data-column="column2">Extracted Feature</th>
								<th class="column100 column4" data-column="column3">Subsquent Sub-Feature</th>

							</tr>
						</thead>
						<tbody>
								{% for feature in value %}
								{% for f_key,f_val in feature.items %}
								<tr class="row100">
									
									<td class="column100 column1" data-column="column1">{{key}}</td>

									<td class="column100 column2" data-column="column2">{{f_key}}</td>
									<td class="column100 column3" data-column="column3">{{f_val}}</td>
								</tr>
								{% endfor %}
								{% endfor %}
	
								
							

			
						</tbody>
					</table>
				
				</div>

				</div>
			</div>
			{% endfor %}
		</div>
	</div>


	<form method="post">
		{% csrf_token %}
		<div class="center">
			
	  <button type="submit" name="f_next" value="f_next" class="boton">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;Next</button>
	  
	  </form>

<!--===============================================================================================-->	
	<script src="{% static 'list2/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'list2/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'list2/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'list2/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'list2/js/main.js' %}"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="{% static 'storykey/button_script.js' %}"></script>

</body>
</html>